{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaVersion": 2020, // Allows for the parsing of modern JS
    "ecmaFeatures": {
      "jsx": true // Allows for the parsing of JSX
    }
  },
  "extends": ["plugin:prettier/recommended"],
  "rules": {
    "react/no-danger": "off", // it's self explainatory that no-danger should be used sparingly
    "react/react-in-jsx-scope": "off", // next.js does not require react in most components
    "react/prop-types": "off", // as long as TS strict mode is off this is not required
    "no-console": "error", // no console statements allowed
    "prettier/prettier": "off", // don't show prettier errors as it will be fixed when saved anyway
    "no-unused-vars": ["error", { "vars": "all", "args": "after-used", "ignoreRestSiblings": false }],
    "no-plusplus": "off",
    "react/no-unescaped-entities": 0,
    "react/jsx-props-no-spreading": "off",
    "import/prefer-default-export": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "react/no-array-index-key": "off",
    "react/require-default-props": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "react/button-has-type": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "node": true,
    "browser": true,
    "amd": true
  }
}
