$bgcolor: #9200fe;
$color: #fc6355;

body {
  &::-webkit-scrollbar-track {
    border-radius: 20px;
    background-color: transparent;
  }
  &::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: $color;
  }
}
::selection {
  background-color: $bgcolor;
  color: $color;
}
